#canvas {
  border: 2px solid black;
}
button {
  color: rgb(255, 255, 255);
  border: 2px solid #4caf50; /* Green */
  padding: 10px 24px;
  background-color: #4caf50;
  border-radius: 11px;
}
button:hover,
button:focus {
  background-color: #087a0ca1;
  text-decoration: none;
  cursor: pointer;
}
